
body {

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: #E4F9F5 ;
  font-family: 'Lobster', cursive;
}

h1  {
  color: #66BFBF;
}

h2{
  color:#11999E;
}

h3{
  color: #66BFBF;
  }

.pa{
  font-size: 10px;
  color: grey;
}

  hr{
    border-color:lightgrey;
    border-style: dotted none none;
    border-width:5px;
    float: center;
    height:2px;
    width: 10%;
  }

.profile{
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.profilex{

  border-radius: 5%;
}

.linkp{
  text-decoration: none;
  color:black;
}

.linkp:hover{

}

.links{
  color: white;
  text-decoration: none;
  background-color: lightgreen;
  padding: 10px 20px;
  border-radius: 5%;
  transition: padding   .3s;
}

.links:hover{
  background-color: #4FBDBA;
  text-decoration: none;
  padding: 13px 23px;
  border-radius: 5%;
  transform: scale(1.5);
}

.stars{
   transition: transform .3s; /* Animation */
}

.stars:hover{
  transform: scale(1.9);
}

.input{
  border-radius: 5%;
  border: 1px;
}

.input:focus{
background-color: lightblue;
}
